@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";

.header {
    background: linear-gradient(#395562, #787474);
    @include dfSpaBetAliCent; 
}    
    .header-logo {
        @include dfSpaBetAliCent; 
        justify-content: space-evenly;
        flex-grow: 2;
        margin-right: 40px;
        &__img {
            width: 140px;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -30px;
                width: 1px;
                height: 100%;
                background: rgb(123 151 123 / 80%);
            }
            & img{
                display: block;
                width: 100%;
            }
        }
        &__slogan {
            color: #fff;
            font-style: italic;
        }
    }
    .nav {
        flex-grow: 6;
        height: 170px;
        .menu {
            @include dfSpaBetAliCent;
            justify-content: space-around;
            height: 100%;
            &__item {
                position: relative;
                height: 100%;
                & span {
                   color:  $textColorGrey;
                   font-style: italic;
                }
            }
            &__link {
                @include dfSpaBetAliCent;
                flex-direction: column;
                justify-content: center;
                position: relative;
                @include fontMenu; 
                height: 100%;
                padding-top: 10px;
                &:hover:before {
                    content: "";
                    @include psevdElTriangle;
                }
                &:hover:after {
                    content: "";
                    @include psevdElTriangle;
                    border: 5px solid transparent; 
                    border-top: 5px solid #fff;
                    top: 57%;
                }
                &:hover > span {
                    bottom: -10px;
                    z-index: 1;
                }
                & span {
                    position: absolute;
                    bottom: -60px;
                    left: 0;
                    margin-top: 10px;
                    font-size: 15px;
                    position: relative;
                    transition: bottom 0.35s;
                    z-index: -1;
                }
            }
        }
    }
.main {
    background: url(../img/main-background.png) center no-repeat;
    background-size: cover;
}
    .slider {
        width: 77%;
        margin: 0 auto;
        position: relative;
        top: -20px;
        height: 490px;
        overflow: hidden;
        &-item {
            position: relative;
            & img {
                display: block;
                width: 100%;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 56px;
                width: 100%;
                background: rgb(45 64 81 / 83%);
            }
        }

        .slick-list {
            overflow: hidden;
            height: 100%;
        }
        .slick-track {
            display: flex;
            height: 100%;
        }
        .slick-arrow {
            position: absolute;
            bottom: 9px;
            font-size: 0;
            width: 33px;
            height: 40px;
            border: none;
            z-index: 3;
            cursor: pointer;
            &:focus {
                border: none;
                outline: none;
            }
        }
        .slick-arrow.slick-prev {
            left: 10px;
            background: url(../img/right_turn.png) 0 0 / 100%  no-repeat;
            transform: rotate(180deg);
        }
        .slick-arrow.slick-next {
            right: 10px;
            background: url(../img/right_turn.png) 0 0 / 100%  no-repeat;
            
        }
    }
    .main-services {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .services-item {
            display: flex;
            width: 50%;
            max-width: 450px;
            height: 220px;
            margin: 20px 20px;
            &__img {
                background: url(../img/background-item.png) right no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
            }
            &-content {
                position: relative;
                padding: 20px;
                text-align: justify;
                background-color: rgb(100,120,140);
                color: $textColorLight;
                &__title {
                    font-family: "Roboto";
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                &:before {
                    content: "";
                    @include psevdElTriangle;
                    border: 30px solid transparent;
                    border-top: 30px solid rgb(100,120,140);
                    left: -60px;
                    top: 50%;
                    transform: rotate(90deg) translateX(-50%);
                }
            }
            &-break {
                width: 100%;
            }
        }
    }
    .main-offer {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        background: #395562;
        color: $textColorLight;
        .offer-content {
            width: 25%;
            max-width: 230px;
            margin: 0 30px;
            padding: 20px 0;
            text-align: center;
            font-family: "Roboto";
            text-transform: uppercase;
            position: relative;
            &__title {
                margin-bottom: 30px;
            }
            &__text {
                font-family: "AlegreySans";
                font-size: 15px;
                line-height: 1.5;
                color: $textColorGrey;
                margin-bottom: 30px;
            }
            &__link {
                color: $textColorLight;
                margin-bottom: 30px;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 65%;
                transform: translateX(-50%);
                height: 2px;
                background: rgb(100 100 100 / 96%);
            }
        }
        
    }
.footer {
    &-content {
        display: flex;
    justify-content: center;
    }
}